.join-us {
    /* height: 816px; */
    background-color: #fffcf3;
}

.join-us-content {
    margin: 120px auto;
    width: 1280px;
    height: 496px;
    border-radius: 30px;
    box-shadow: rgba(47, 47, 49, 0.06) 0px 20px 10px -2px, rgba(0, 0, 0, 0.3) 0px 3px 20px -3px;
}

.join-us-button {
    border: 2px solid #78350F;
    padding: 12px 24px;
    border-radius: 8px;
    color: #78350F;
    width: 179px;
    height: 56px;
}

@media (max-width:435px) {
    .join-us-content {
        margin: 20px;
        width: 90%;
        height: auto;
    }

    .detail {
        width: 90%;
    }

    .join-us-content .join-us-right-section img:first-child {
        width: 90%;
    }
}