.promotion-section-services {
    height: 365px;
    gap: 80px;
}

.promotion-section-service-item {
    width: 373px;
}

.promotion-section-service-item-icon {
    position: relative;
}

.promotion-section-service-item-icon img:first-child {
    position: absolute;
    top: 0;
    left: 25px;
}

.promotion-section-service-item-icon img:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

.promotion-section-services .promotion-section-service-item:last-child .promotion-section-service-item-icon {
    margin-left: 18px;
}

.promotion-section-services .promotion-section-service-item:last-child img:last-child {
    position: absolute;
    top: 0;
    left: -20px;
}